vw vh {
    View with and view height percentage of the page 
} 

control i - wraps content in a div 

/*this is a comment*/

body {
    applying to everything in the body tag
    "body" = selector -- determines what the set of rules are for 
    property = what we are changing for declaring 
    mdn css properties = online recourse 
    value = what we want the property to change to
}

div {
    tag 
    whatever the most specific instruction is what shows up - 
    otherwise it uses default settings 
}

.class{
    class = more specific
    can combine and have multipule per container 
    height: -- dont set if you want it to expand to its content 
    width: 
}

#id{
    only apply to a single element 
    all id names need to be uni ue becase it only applies once 
}

position property {
    position:fixed; stays in place when you scroll (starts from the top) takes it out of the doc flow - top & left are default 
    position: absolute; scrolls along with everything else - takes it out of the doc flow 
    *how to move the location of the element - you have to use 2 together to get a x and y 
    top:;
    left:; 
    bottom:; 
    right:;
    *
    position: relative; default value - that elmement is going to be within the document flow -- allows you to move an element inside just its parent element (child would be postioned absoloute)

}
margins property{
    what is outside of an element 
}

display property{
    display: block;
    display: inline; 
    display: grid; How many colums and rows do you have? How much space are the colums taking up %? fr unit
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-column-gap: 1em; defining the space between your elements 
}

Margin: top right bottom left 
padding: top right bottom left 
________________________________________________
.menu {
width: 100%;
height: 50px;
background-color: ; 
position: fixed; 
z-index: 100; /* the way we define our layers 0 is the lowest point, higher the number, the closer to the viewer /*
}