body, html{
    padding: 0;
    margin: 0;
    display: grid;
    background-color: #1C1C1C;
    font-family: 'Montserrat', sans-serif;
}

img{
  max-width:100%;
  height:auto;
}

.topnav {
    overflow: hidden;
    margin: auto;
    text-align: center;
    padding-top: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight:300;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color:#E8C4B4;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    text-decoration: underline;
  }

  .mywork{
      text-align: center;
      color:#E8C4B4;
      font-size: 30px;
      font-weight: 300;
      margin-top: 100px;
  }

/* Header Section */
  .line{
    width: 400px;
    height: 1px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
}

.seemore {
    color: white;
    margin:auto;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

/* Portfolio */

.grid-container {

    display: grid;
  
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: auto;
    width: 98%;
  }

  .grid-item {
    background-size: cover; /* <-- background size */
    background-position: center; /* <-- background position */
    height: auto;
    width: 100%;
    object-fit: cover;
  }
  
  .grid-item img {
    height: 100%;
    width: 100%;
  }


  /* ----------- SMART PHONES ----------- */
  @media only screen and (max-width: 800px)  {

    .aboutme{
        display: none;
    }

    .portfolio{
        display: none;
    }
    .grid-container {
        display: grid;
  
        grid-template-columns: 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        margin: auto;
        width: 100%;
      }

      .grid-item {
        height: 300px;
        width: 100%;
        object-fit: cover;
      }

      .grid-item img {
        height: 100%;
        width: 100%;
      }

    }



  }


  /* ----------- TABLETS ----------- */
 
@media only screen and (min-width: 800px) and (max-width: 1280px) {

    .grid-item {
        background-size: cover; /* <-- background size */
        background-position: center; /* <-- background position */
        height: 225px;
        width: 100%;
        object-fit: cover;
      }
  
}
