body, html{
    padding: 0;
    margin: 0;
    display: grid;
    background-color: white;
}

.topmenu {
    width: 100%;
    height: 50px;
    background-color: #006342; 
    position: fixed; 
    z-index: 100;
}

.bottommenu {
    width: 100%;
    height: 150px;
    background-color: #efc1b1; 
    position: relative; 
}

.heroimage {
    width: 100%;
    height: 400px; 
    background-color: #a27529; 
    position: relative; 
    z-index: 100;
}

.fallcoldbrew {
    width: 100%;
    height: 400px; 
    background-color: #ef4f2f; 
    position: relative; 

}

.ubereats {
    width: 100%;
    height: 400px;
    position: relative; 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.ubereatstext {
    background-color: #9e4f13;
    margin: 50px 50px 50px 200px;

}
.ubereatsimage {
    background-color: #a27529;
    margin: 50px 200px 50px 50px;
}

.humanspirit{
    width: 100%;
    height: 400px;
    position: relative; 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    background-color: #ef4f2f;
}

.humanspirittext {
    background-color: #efc1b1;
    margin: 50px 50px 50px 200px;

}
.humanspiritimage {
    background-color: #efc1b1;
    margin: 50px 200px 50px 50px;
}

.signup {
    width: 100%;
    height: 100px; 
    background-color:  #006342; 
    position: relative;   
}

.footer{
    width: 100%;
    height: 400px; 
    background-color:  #9e4f13;
    position: relative;   
}

