/* ----------- LANDING PAGE START ----------- */
body, html{
    padding: 0;
    margin: 0;
    display: grid;
    background-color: #1C1C1C;
    font-family: 'Montserrat', sans-serif;
}

.logo{
margin:auto;
display:inline;
}
    
h1{
    color: white;
    font-weight:300;
    text-transform: uppercase;
    font-size:80px;
    text-align: center;

}

.subhead {
    color:white;
    font-weight:300;
    text-align: center;
    margin-bottom: 50px;
}


 /* Style the links inside the navigation bar */
.buttontype a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight:300;
    padding-top: 20px;
  }

 .button {
    background-color: #E8C4B4;
    border: none;
    text-align: center;
    height:50px;
    width: 200px;
    padding: 10px 24px;
    margin:50px; /* space between buttons */
  }

  .buttontype {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-weight:300;
    padding-top: 20px;
  }

  .button-group{
      display: grid; 
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 0px;
      margin: auto;
  }
  .button:hover {
    background-color:white;
    color: #1C1C1C;
}

  .line{
      width: 1px;
      height: 175px;
      background-color: white;
      margin-left: 350px;
      margin-top: -175px;
  }

  /* ----------- SMART PHONES ----------- */
  @media only screen and (max-width: 800px)  {
  
    body{
        align-items: center;
    }


    .line{
        display: none;
    }

    .button-group{
        display: inline-block; 
        margin: auto;
    }

    h1{
        color: white;
        font-weight:300;
        text-transform: uppercase;
        font-size:30px;
        text-align: center;
    }

    .subhead {
        color:white;
        font-weight:300;
        text-align: center;
        margin-bottom: 50px;
        position: relative;
    }
}

 



/* ----------- TABLETS ----------- */
 
@media only screen and (min-width: 800px) and (max-width: 1280px) {

    .button-group{
        display: block; 
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0px;
        margin: auto;
    }

    .line{
        display: none;
    }
    
}

/* ----------- LANDING PAGE  END----------- */


/* ----------- ABOUT  START----------- */

body, html{
    padding: 0;
    margin: 0;
    display: grid;
    background-color: #1C1C1C;
    font-family: 'Montserrat', sans-serif;
}


.topnav {
    overflow: hidden;
    margin: auto;
    text-align: center;
    padding-top: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight:300;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color:#E8C4B4;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    text-decoration: underline;
  }

  .aboutme {
    text-decoration: underline;
  }


  .aboutgrid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: auto;
    width: 80%;
    margin-top: 100px;
  }

  .aboutgrid-item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    height: 100%;
    max-width: 60%;
    align-self: center;
    justify-self: end;
  }

  .aboutgrid-item2 {
    grid-column-start: 2;
    grid-column-end: 2;
    width: 100%;
    justify-self: start;


  }
  
 
  .headertype{
    color:#E8C4B4;
    font-size: 30px;
    font-weight: 300;
    margin-top: 100px;
    text-align: right;
    margin-bottom: 20px;
  }


.abouttype{
    font-size: 17px;
    text-align: right;
    color: white;
    font-weight: 300;
}


.aboutphoto-container{

    max-width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-top: 20px;

}

.aboutphoto-item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
    
}

.aboutphoto-item2 {
    grid-column-start:2;
    grid-column-end:2;
    width: 100%;
}
  
.aboutphoto-item3{
    grid-column-start:3;
    grid-column-end:3;
    width: 100%;
}

.aboutphoto-item4{
    grid-column-start:4;
    grid-column-end: 4;
    width: 100%;
}
  

  .getintouch{
    text-align: left;
    color:#E8C4B4;
    font-size: 30px;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 20px; 
  }

  .contacttype{
    font-size: 17px;
    text-align: left;
    color: white;
    font-weight: 300;
  }

  .contactcontainer{
      margin: auto;
      text-align: center;
  }

  /* ----------- SMART PHONES ----------- */
  @media only screen and (max-width: 800px)  {

    .aboutme{
        display: none;
    }

    .portfolio{
        display: none;
    }
    .headertype{
        color:#E8C4B4;
        font-size: 30px;
        font-weight: 300;
        text-align: left;
        margin-bottom: 20px;
        margin-top: -50px;
      }

      .abouttype{
        font-size: 14px;
        text-align: left;
        color: white;
        font-weight: 300;
        margin-bottom: 25px;
    }

    .aboutgrid-item{
        margin-top: 40px;
        margin-bottom: -10px;
        max-width:90%;
        margin:auto;
    }

      .line {
    display: none;
      }

    .aboutgrid-container{
        display: inline;
    }

    .aboutphoto-container {
        display: inline; 
    }

    .contactcontainer{
        margin-top: -30px;
    }

}
@media only screen and (min-width: 800px) and (max-width: 1280px) {
    .aboutphoto-container{
        max-width: 90%;
        margin: auto;
        display: inline;
    }

    .aboutgrid-container {
        display: inline; 
    }
}

    

/* ----------- ABOUT END----------- */

/* ----------- PORTFOLIO END----------- */

body, html{
    padding: 0;
    margin: 0;
    display: grid;
    background-color: #1C1C1C;
    font-family: 'Montserrat', sans-serif;
}


.topnav {
    overflow: hidden;
    margin: auto;
    text-align: center;
    padding-top: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight:300;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color:#E8C4B4;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    text-decoration: underline;
  }

  .mywork{
      text-align: center;
      color:#E8C4B4;
      font-size: 30px;
      font-weight: 300;
      margin-top: 100px;
  }

/* Header Section */
  .line{
    width: 400px;
    height: 1px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
}

.seemore {
    color: white;
    margin:auto;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

/* Portfolio */

.portfoliogrid-container {

    display: grid;
  
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: auto;
    width: 98%;
  }

  .portfoliogrid-item {
    background-size: cover; /* <-- background size */
    background-position: center; /* <-- background position */
    height: auto;
    width: 100%;
    object-fit: cover;
  }
  
  .portfoliogrid-item img {
    height: 100%;
    width: 100%;
  }


  /* ----------- SMART PHONES ----------- */
  @media only screen and (max-width: 800px)  {

    .aboutme{
        display: none;
    }

    .portfolio{
        display: none;
    }
    .portfoliogrid-container {
        display: grid;
  
        grid-template-columns: 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        margin: auto;
        width: 100%;
      }

      .portfoliogrid-item {
        width: 100%;
        object-fit: cover;
      }

      .portfoliogrid-item img {
        height: 100%;
        width: 100%;
      }

    }



  }


  /* ----------- TABLETS ----------- */
 
@media only screen and (min-width: 800px) and (max-width: 1280px) {

    .portfoliogrid-item {
        height: 100%;
        width: 100%
      }
  
}

/* ----------- PORTFOLIO END----------- */

/* ----------- PROJECT START----------- */

body, html{
    padding: 0;
    margin: 0;
    background-color: #1C1C1C;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 300px;
}


.topnav {
    overflow: hidden;
    margin: auto;
    text-align: center;
    padding-top: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight:300;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color:#E8C4B4;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    text-decoration: underline;
  }

  .projectinfo{
      margin-left: 60px;
      margin-top: 20px;
  }

  .maintitle{
    color:#E8C4B4;
    font-size: 30px;
    font-weight: 300;
    margin-top: 40px;
  }

  .subinfo{
    color:white;
    font-weight: 300;
  }

  .mainimage{
      max-width: 500px;
      margin: auto;
      margin-top: 20px;
  }

  .descriptiongrid{
      max-width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
  }

  h2{
    color:#E8C4B4; 
    font-weight: 500; 
    font-size: 18px;
  }

  .additonalimages{
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin-top: 20px;
  }
/* ----------- PROJECT START----------- */

